{{if eq .Name "inspect_file"}}{"path": "<repo-relative path>", "line_start"?: int, "line_end"?: int}{{else if eq .Name "list_files"}}{"path"?: "<repo-relative folder>", "depth"?: int}{{else if eq .Name "search"}}{"path"?: "<repo-relative path>", "query": "<text>", "context_lines"?: int, "max_results"?: int, "case_sensitive"?: bool}{{else if eq .Name "find_callers"}}{"symbol": "<function name>", "path"?: "<repo-relative path>", "depth"?: int}{{else if eq .Name "find_callees"}}{"symbol": "<function name>", "path"?: "<repo-relative path>", "depth"?: int}{{end}}
