{{if eq .Name "inspect_file"}}Retrieve content of repo-relative file{{else if eq .Name "list_files"}}List files of repo-relative folder{{else if eq .Name "search"}}Search recursively inside repo-relative file or folder{{else if eq .Name "find_callers"}}Resolve function by symbol name and return caller hierarchy and method bodies{{else if eq .Name "find_callees"}}Resolve function by symbol name and return its callee hierarchy and method bodies{{end}}
